In [4]:
print ("Hello World!!!!")

Hello World!!!!

In [5]:
"Hello World!!!"

'Hello World!!!'

In [7]:
a = 23 #Variable a  has a value of 23
b =a #Variable b is cloned to cariable a 
c= 24 #variable c holds a value of 24
#z = 25

In [8]:
a

23

In [9]:
b

23

In [10]:
c

24

In [11]:
z

NameError: name 'z' is not defined

In [17]:
# Create a Variable name for account number 
accountNumber =  1234
account_number = 1234

In [18]:
accountNumber

1234

In [ ]:
URL = "https://www.google.com"
IP_Address = "10.0.0.1"

In [21]:
IP_Address

NameError: name 'IP_Address' is not defined

In [22]:
 strText = "Hello World" #the Data type is String 
intAccountNumber = 123   #the Data type is Integer

In [23]:
intAccountNumber

123

In [25]:
type(strText)

str

In [26]:
type(intAccountNumber)

int

In [27]:
intAmount = 21.4

In [28]:
type(intAmount)

float

In [29]:
strCity = """This is a multi lined City Test
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum"""

In [31]:
print (strCity)

This is a multi lined City Test
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum

In [51]:
 #Code Segment 1
    
x1 = "20"
y1 = 3    #int
a = x1 * y1
type(a)

str

In [52]:
a

'202020'

In [44]:
 #Code Segment 1
    
x2 = 6
y2 = 4
b = x2 / y2
type(b)

float

In [46]:
b

1.5

In [43]:
 #Code Segment 1
    
x3 = 2.5
y3 = 1
c = x3 / y3
type(c)

float

In [47]:
c

2.5

In [ ]:
#Answer: 
#After Executin Code segment 1,

In [62]:
# Importanc of String Data Sets

strText = "Hello!" 
#Stings are immutable (once you create them, you cannot change them)

strText[0] = "T"

TypeError: 'str' object does not support item assignment

In [63]:
# print the ordinal numbrs for characters 
ord("a")

97

In [65]:
ord ("H"),ord ("e"),ord ("l"),ord ("l"),ord ("o")

(72, 101, 108, 108, 111)

In [66]:
 ord ("hello")

TypeError: ord() expected a character, but string of length 5 found

print("This is a test")

In [67]:
##nteger Division

##Integer Division

*"ture division" performed by "/"
*"floor division" performed by "//"

##Integer Division

*"ture division" performed by "/"
*"floor division" performed by "//"

##Integer Division

*"ture division" performed by "/"
*"floor division" performed by "//"

In [ ]:
##Integer Division

*"ture division" performed by "/"
*"floor division" performed by "//"

The operator "//" performs floor division, i.e., the dividend is divided by the divisor - like in true divison - but the floor of the result will be returned

In [69]:
9 // 3

3

In [70]:
10//3

3

In [71]:
11//3

3

In [72]:
12//4

3

In [73]:
10.0//3

3.0

In [74]:
-7//3

-3

## Floor Division for Negative numerator

In [85]:
Numerator = 10
denominator = 3
result = Numerator // denominator
print("Numerator:", Numerator, "Denominator:", denominator, "Result:", result)

Numerator: 10 Denominator: 3 Result: 3

In [79]:
print ("numerator:" numerator, "denominotor:", denominotor, "result:", result)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3234893172.py, line 1)